{
   project =
   {
      description="👯 mulle-markdown turns markdown into HTML";
      domain="github";
      name="mulle-markdown";
      user="MulleWeb";
      repo="mulle-markdown";
      homepage="https://github.com/MulleWeb/mulle-markdown";
      license="BSD-3-Clause"
   };
   dependencies =
   (
      {
         description="**EXPERIMENTAL**";
         domain="github";
         name="mulle-cosmopolitan";
         repo="mulle-cosmopolitan";
         url="https://github.com/mulle-cc/mulle-cosmopolitan";
         user="mulle-cc";
      },
      {
         description="🎪 Cosmopolitan variants of gcc, clang, mulle-clang for mulle-cosmopolitan";
         domain="github";
         name="mulle-cosmopolitan-cc";
         repo="mulle-cosmopolitan-cc";
         url="https://github.com/mulle-cc/mulle-cosmopolitan-cc";
         user="mulle-cc";
      },
      {
         description="🐚 Build the musl C library for static executables";
         domain="github";
         name="mulle-musl";
         repo="mulle-musl";
         url="https://github.com/mulle-cc/mulle-musl";
         user="mulle-cc";
      },
      {
         description="🐚 Add -static flag to musl-gcc (and clang)";
         domain="github";
         name="mulle-musl-cc";
         repo="mulle-musl-cc";
         url="https://github.com/mulle-cc/mulle-musl-cc";
         user="mulle-cc";
      },
      {
         description="💃🏼 Markdown support for mulle-objc";
         domain="github";
         name="MulleHoedown";
         repo="MulleHoedown";
         url="https://github.com/MulleWeb/MulleHoedown";
         user="MulleWeb";
      },
      {
         description="▶️  Startup library for MulleObjC";
         domain="github";
         name="MulleObjC-startup";
         repo="MulleObjC-startup";
         url="https://github.com/mulle-objc/MulleObjC-startup";
         user="mulle-objc";
      }
   )
}
